.breadcrumb-item a {
    color: blue;
}

.table tbody td a {
    color: blue;
}

input[type=submit] {
    background-color: #2975e6;
    border: none;
    color: white;
    padding: 2px 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;

}