@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto:wght@300&display=swap');

/* Project page */
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 20px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.overlay-page-mod {
    position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.6);
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    display: none;
    z-index: 10;
}

i,
span {
    display: inline-block;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.left-side-menu {
    display: flex;
}

.menu-search {
    display: flex;
    margin-left: 20px;
    background-color: white;
    border-radius: 3px;
}

.menu-search button i {
    color: black;
}

.mod-header {
    width: 100%;
}

.right-side-info {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.mod-menu-input {
    color: black !important;
    border-radius: 0px 3px 3px 0px;
}

.mod-menu-input::placeholder {
    color: black !important;
}


.info-login img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.direct-link {
    color: var(--main-mod-text);
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.direct-link span {
    color: var(--main-text-header);
}

.direct-link i {
    margin: 0px 7px;
}

.content-detail {
    background-color: #f8f9fa!important;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
    padding: 20px 20px;
}

.content-detail .detail span {
    color: var(--main-mod-text);
}

.content-detail .filter select{
    padding: 7px 11px;
    border: none;
    margin: 0px 9px;
    outline: none;
    border-radius: 3px;
    box-shadow: -2px -2px 40px var(--main-bold-white-shadow);
}

.content-detail .filter select:hover {
    background-color: var(--main-bold-white-text);
    transition: ease-in 0.2s;
}

.content-detail .filter button{
    padding: 7px 11px;
    border: none;
    margin: 0px 9px;
    outline: none;
    background-color: var(--main-blue);
    color: white;
    border-radius: 3px;
    box-shadow: -2px -2px 40px var(--main-blue-shadow);
}

.content-detail .filter button:hover {
    background-color: var(--main-blue-bold);
}

.menu-search-project {
    box-shadow: -2px -2px 40px var(--main-bold-white-shadow);
}

.manage-project {
    display: flex;
    float: right;
}

.add-project {
    padding: 8px 13px;
    margin-left: 20px;
    background-color: var(--main-blue);
    border-radius: 50%;
    outline: none;
    border: none;
    color: white;
    box-shadow: -2px -2px 40px var(--main-blue-shadow);
    transition: ease-in 0.1s;
}

.link-add-project {
    padding: 8px 13px;
    margin-left: 20px;
    background-color: var(--main-blue);
    border-radius: 50%;
    outline: none;
    border: none;
    color: white;
    box-shadow: -2px -2px 40px var(--main-blue-shadow);
    transition: ease-in 0.1s;
}

.add-project:hover, .link-add-project:hover {
    transition: ease-in 0.1s;
    transform: scale(1.2);
}

.content-table {
    background-color: var(--main-white);
    margin-top: 25px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: -2px -2px 40px var(--main-bold-white-shadow);
}

.content-table table {
    overflow-x: scroll;
}

.content-table table thead tr th {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 0.5px solid var(--main-mod-border-bold) !important;
}

.content-table table tbody tr:last-of-type .content-table table tbody tr td{
    border-bottom: none;
}

.content-table table tbody tr td{
    padding: 15px 0px;
    border-bottom: 0.5px solid var(--main-mod-border) !important;
}

.content-project-pagination {
    display: flex;
    display: flex;
    justify-content: right;
    padding: 20px 0px 0px 0px;
}

.pagination {
    display: inline-block;
    background-color: var(--main-white);
    border-radius: 5px;
    box-shadow: -2px -2px 20px var(--main-bold-white-shadow);
}

.pagination span {
    background-color: var(--main-white);
    min-width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}

.pagination span:first-of-type, .pagination span:last-of-type {
    background-color: var(--main-white);
    height: 100%;
    padding: 7px 17px;
    color: var(--main-light-white);
}

.active-pagination {
    background-color: var(--main-blue) !important;
    color: white !important;
}

.add-project-menu {
    width: 600px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--main-white);
    padding: 40px 40px;
    overflow-y: scroll;
    display: none;
    z-index: 11;
}

.add-project-menu.active {
    display: block;
}

.add-project-menu h2 {
    color: var(--main-mod-header);
}

.add-project-menu label {
    color: var(--main-light-grey);
    margin: 15px 0px;
}

.add-project-menu input, textarea, select {
    border-radius: 5px;
}

.add-project-menu .tox-tinymce {
    border-radius: 5px;
    font-family: 'Mulish', sans-serif !important;
    font-weight: 800;
    margin-bottom: 15px;
}

.add-project-menu .tox-tinymce .tox-statusbar {
    display: none;
}

.tox-menubar, .tox-toolbar__primary, .tox-edit-area__iframe {
    background-color: var(--main-mod-input) !important;
}

.add-project-menu input, .add-project-menu select {
    outline: none;
    border: none;
    padding: 10px 10px;
    width: 100%;
    background-color: var(--main-mod-input);
    margin-bottom: 15px;
}

.project-add-upload__image {
    outline: none;
    border: none;
    width: 100%;
    background-color: var(--main-mod-input);
    margin-bottom: 30px;
    border-radius: 5px;
}

.project-add-upload__image label {
    cursor: pointer;
    background-color: var(--main-blue);
    padding: 7px 12px;
    border-radius: 5px;
    color: var(--main-white);
}

.project-add-upload__image label i {
    margin-right: 10px;
}

.project-add-upload__image input {
    display: none;
}

.add-project-submit {
    text-align: right;
}

.add-project-submit button:first-of-type {
    background-color: var(--main-blue);
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 8px 18px;
    color: var(--main-white);
}

.add-project-submit button:last-of-type {
    background-color: var(--main-white);
    border: var(--main-blue);
    border-radius: 3px;
    padding: 8px 18px;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}