$main-color: #f26f21;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  padding: 2rem;
  &__header {
    margin-bottom: 2rem;
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }
  &__content {
    .content {
      .main-picture {
        width: 100%;
      }
      h1 {
        padding: 1rem 0;
      }
      .project-info {
        display: flex;
        padding-bottom: 1rem;
        div {
          padding-right: 2rem;
        }
      }
    }
    .comment {
      margin: 2rem 0;
      h5 {
        padding-bottom: 1rem;
        font-weight: bold;
      }
      &-info {
        display: flex;
        &__user-picture {
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        &__content {
          padding: 0.7rem 0 0 1rem;
          .content-header {
            padding-bottom: 0.5rem;
            .user-name {
              font-weight: bold;
              margin: 0;
              padding: 0;
            }
            span {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
    .leave-comment {
      padding-bottom: 2rem;
      h5 {
        font-weight: bold;
      }
      form {
        textarea,
        input:not(:last-child) {
          width: 100%;
          margin-bottom: 1rem;
          padding: 0.5rem;
        }
        #submit {
          padding: 0.5rem 2rem;
          background-color: $main-color;
          border: 1px solid $main-color;
          font-weight: bold;
          transition: all 300ms ease-in-out;
          color: white;
          &:hover {
            background-color: white;
            color: $main-color;
          }
        }
      }
    }
    .search {
      position: relative;
      margin-bottom: 2rem;
      input {
        width: 100%;
        padding: 0.7rem 0 0.7rem 0;
        border: none;
        border-bottom: solid 1px $main-color;
      }
      i {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: $main-color;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
    .left-col {
      padding-bottom: 3rem;
      h3 {
        font-weight: bold;
      }
      .line-break {
        width: 4rem;
        height: 2px;
        background-color: $main-color;
        margin-bottom: 2rem;
      }
    }
    .recent-post {
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          &:not(:last-child) {
            padding-bottom: 1.5rem;
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
      &__info {
        display: flex;
        align-items: center;
        .picture-project {
          img {
            width: 80px;
            height: 80px;
            margin-right: 1.5rem;
          }
        }
      }
    }
    .tags {
      ul {
        display: flex;
        justify-self: start;
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          padding: 0.2rem 0.5rem;
          border: 1px solid $main-color;
          margin-right: 1rem;
          transition: all 300ms ease-in-out;
          a {
            transition: all 300ms ease-in-out;
            text-decoration: none;
            color: $main-color;
          }
          &:hover {
            background-color: $main-color;
            a {
              color: white;
            }
          }
        }
      }
    }
    .instructor {
      &-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          width: 15rem;
          height: 15rem;
          margin-bottom: 1rem;
        }
      }
    }
    .team-members {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          p {
            font-size: 0.9rem;
            text-align: center;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .main {
    padding: 2rem 8rem;
  }
}
